{% load core_extras %}
<div class="stat-grid">
    {% include "components/kpi_card.html" with title="Total Users" value=providers_dict.business.metrics|get_item:"Total Users"|default_if_none:"--" icon="users" color="cyan" %}
    
    {% include "components/kpi_card.html" with title="Avg Response" value=providers_dict.performance.metrics|get_item:"Avg Latency"|default_if_none:"--" icon="activity" color="green" %}
    
    {% include "components/kpi_card.html" with title="System Events" value=providers_dict.activity.metrics|get_item:"Events (24h)"|default_if_none:"--" icon="list-details" color="purple" %}
    
    {% include "components/kpi_card.html" with title="DB Size" value=providers_dict.database.metrics|get_item:"File Size"|default_if_none:"--" icon="database" color="orange" %}
</div>
