# Security Settings
DJANGO_SECRET_KEY=your_secure_random_string_here
DEBUG=False
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost,yourdomain.com
DJANGO_CSRF_TRUSTED_ORIGINS=https://yourdomain.com

# Setup
ECOFLEET_BOOTSTRAP_PASSWORD=your_secure_password_here

# Sentry (Optional)
SENTRY_DSN=
ENVIRONMENT=development

# Email Settings
ADMIN_EMAIL=admin@yourdomain.com
EMAIL_HOST=localhost
EMAIL_PORT=587
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=

# Security Headers (Set True in prod)
SECURE_SSL_REDIRECT=False

# PostgreSQL Configuration
DATABASE_URL=postgres://postgres:postgres@localhost:5432/ecofleet
NGINX_ACCEL_REDIRECT=False

# Redis & Celery
REDIS_URL=redis://127.0.0.1:6379/0
CELERY_BROKER_URL=redis://127.0.0.1:6379/1
CELERY_RESULT_BACKEND=redis://127.0.0.1:6379/1

# Third-Party Integrations
EXTERNAL_TRACKING_API_URL=http://ecofleetexpress.com/Auth_tracking
