# Security Settings
DJANGO_SECRET_KEY=your_secure_random_string_here
DEBUG=False
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost,yourdomain.com
DJANGO_CSRF_TRUSTED_ORIGINS=https://yourdomain.com

# Setup
ECOFLEET_BOOTSTRAP_PASSWORD=your_secure_password_here

# Sentry (Optional)
SENTRY_DSN=
ENVIRONMENT=development

# Email Settings
ADMIN_EMAIL=admin@yourdomain.com
EMAIL_HOST=localhost
EMAIL_PORT=587
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=

# Production Infrastructure
SECURE_SSL_REDIRECT=False
NGINX_ACCEL_REDIRECT=False
