{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{% block title %}EcoFleet Express{% endblock %}</title>
  <link rel="apple-touch-icon" sizes="180x180" href="{% static '/images/favicons/apple-touch-icon.png' %}">
  <link rel="icon" type="image/png" sizes="32x32" href="{% static '/images/favicons/favicon-32x32.png' %}">
  <link rel="icon" type="image/png" sizes="16x16" href="{% static '/images/favicons/favicon-16x16.png' %}">
  <link rel="manifest" href="{% static '/images/favicons/site.webmanifest' %}">
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/icons-webfont@latest/tabler-icons.min.css" />
  <link rel="stylesheet" href="{% static 'css/main.css' %}" />
  <link rel="stylesheet" href="{% static 'css/responsive.css' %}" />
  {% block extra_css %}{% endblock %}
</head>
<body>

  {% include 'core/partials/navbar.html' %}

  <main>
    {% block content %}{% endblock %}
  </main>

  {% include 'core/partials/footer.html' %}

  <script src="{% static 'js/main.js' %}"></script>
  {% block extra_js %}{% endblock %}

</body>
</html>